/**
 * General
 *
 */
.ginfo {
  font-weight: 200;
  color: #666;
}

.group-desc {
  white-space: pre-wrap;
  color: #666;
  font-size: 1rem;
}

.group-vacancies {
  font-size: 0.8rem;
}

.separated {
  margin: 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #eee;
}

.hidden {
  display: none;
}

section {
  margin-bottom: 1rem;
}

/**
 * Sign in list
 *
 */
.group-title > * {
  display: inline-block;
}

.group-title .signin-link {
  margin-left: 10px;
  font-size: 0.9rem;
}

.col-group {
  margin-bottom: 2rem;
}


/**
 * Group options
 *
 */
.options {
  list-style: none;
  padding-left: 0;
}

.options > li {
  display: inline-block;
  margin: 0 0;
}


/**
 * Posts
 *
 */
.posts {
  padding: 1.5rem;
}

.post {
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
  border-radius: 13px;
  border: 1px solid #eee;
}

.post-info {
  color: #666;
  font-size: 0.7rem;
  margin-bottom: 5px;
}
