/**
 * General
 *
 */
.ginfo {
  font-weight: 200;
  color: #666;
}

.group-desc {
  white-space: pre-wrap;
  color: #666;
}

.separated {
  margin: 1rem 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: #eee;
}

.hidden {
  display: none;
}

/**
 * Sign in list
 *
 */
.group-title > * {
  display: inline-block;
}

.group-title .signin-link {
  margin-left: 10px;
  font-size: 0.9rem;
}

.col-group {
  margin-bottom: 2rem;
}


/**
 * Group options
 *
 */
.options {
  list-style: none;
  padding-left: 0;
}

.options > li {
  display: inline-block;
  margin: 0 0;
}


/**
 * Posts
 *
 */
.post {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.post-info {
  color: #666;
  margin-bottom: 5px;
}
