/*
 * Base structure
 */

body {
  padding-top: 3.5rem;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

#brand {
  transition: all 1s ease;
}

input {
  max-width: 100%;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar h5 {
  font-weight: 200;
  padding: 0 1rem;
}

.sidebar .footer {
  margin-top: 2rem;
  font-size: 0.6em;
  color: #999;
}

.sidebar .footer .nav-item {
  padding: 0 1rem;
}


@media (max-width: 575px) {
  .sidebar {
    position: relative;
    bottom: auto;
    top: auto;
    
    border-right: 0;
    border-bottom: 1px solid #eee;
  }
}


/*
 * Dashboard
 */

/* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/*
 * Animations
 */

.blink {
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  
  50% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}

/*
 * PROFILE
 */
.item-name {
  font-weight: 700;
}

.group-list {
  list-style: none;
}

.group-desc, .helper-text {
  color: #999;
  font-size: 0.7rem;
}

.profile-section {
  margin-top: 1rem;
  padding-top: .5rem;
}

.user-progress {
  text-align: center;
}

.user-progress .alert {
  width: 5rem;
  max-width: 100%;
  margin: 0 auto;
}

/*
 * ACCOUNT SETTINGS
 *
 *
 */
#account-form .form-control {
  width: auto;
}